.color-primary {
  color: $primary;
}
.color-light-primary {
  color: $light-primary;
}

.color-light-grey {
  color: $light-grey;
}

.color-shady-grey {
  color: $shady-grey;
}

.color-blue {
  color: $blue;
}

.color-shady-blue {
  color: $shady-blue;
}